<!-- views/partials/footer.ejs -->
<div class="pure-g clear-footer-bar">
    <div class="pure-u-1-1"><p>.</p></div>
</div>
<div class="pure-g footer-bar">
    <div class="pure-u-1-2"><p>&copy; TS 2018</p></div>
    <div class="pure-u-1-2">
        <i class="fab fa-facebook-square footer-right"></i>
        <i class="fab fa-twitter-square footer-right"></i>
        <i class="fab fa-linkedin footer-right"></i>
    </div>
</div>
