<!-- views/partials/function_bar.ejs -->
<div class="pure-g function-bar">
    <div class="pure-u-1">
        <a href="/users/logout">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
        </a>
        <a>
            <i class="fas fa-user-circle"></i>
            <span><%= userName %></span>
        </a>
        <a href="<%= functionBarRoute %>">
            <i class="fas fa-plus-circle"></i>
            <span><%= functionBarLabel %></span>
        </a>

    </div>
</div>