<!-- views/partials/header.ejs -->
<div class="pure-g">
    <div class="pure-u-1">
        <h1 class="company-header">
            <i class="fas fa-pastafarianism"></i>
            devlpr_npad <span class="pageName">- <%= pageName %></span>
        </h1>
    </div>
</div>
