<!-- views/partials/messages.ejs -->
<% if (typeof success_msg != 'undefined') { %>
    <div class="flash-success-msg">
        <h3><%= success_msg %></h3>
    </div>
<% } %>

<% if (typeof error_msg != 'undefined') { %>
    <div class="flash-error-msg">
        <h3><%= error_msg %></h3>
    </div>
<% } %>

<% if (typeof error != 'undefined') { %>
    <div class="flash-error-msg">
        <h3><%= error %></h3>
    </div>
<% } %>