<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link href="https://fonts.googleapis.com/css?family=Mali:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Develpr_npad - Dashboard</title>
</head>
<body>
    <% include ./partials/header %>
    <% include ./partials/function_bar %>
    <div class="flex-container">
        <% for (let i = 0; i < projectList.length; i++) { %>
        <div class="project-box">
            <h3><%= projectList[i].projectName %></h3>
            <p>Start date: <%= projectList[i].startDate %></p>
            <p>End date: <%= projectList[i].endDate %></p>
            <p># of notes: <%= projectList[i].numNotes %></p>
            <a class="button-secondary pure-button" href="/notes/all">Notes</a>
            <a class="pure-button pure-button-primary" href="#">Edit</a>
        </div>
        <% } %>
    </div>
    <% include ./partials/footer %>
</body>
</html>