* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ----- BACKGROUND IMAGE ----- */
.background-image {
    background-image: url("/img/web_developer.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* ----- PAGE COMPONENTS ----- */
.company-header {
    font-family: 'Mali', cursive;
    font-size: 2.5em;
    margin-left: 1em;
    color: rgb(56, 98, 165)
}

.company-header i {
    font-size: 1.1em;
}

.pageName {
    font-weight: 500;
}

/* function_bar */
.search-form {
    margin-left: 2.5em;
}

.search-form legend{
    display: none;
}

.function-bar a {
    text-decoration: none;
    color: black;
    margin-right: 40px;
    font-size: 1.2em;
    float: right;
}

/* Flash messages */
.flash-success-msg {
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(28, 184, 65); /* this is a green */
    text-align: center;
    -webkit-animation: seconds 1.0s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 3s;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 3s;
}

@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.flash-error-msg {
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(202, 60, 60); /* this is a maroon */
}

.flash-errors-msg {
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(223, 117, 20); /* this is an orange */
}

/* Additional buttons */
.button-error {
    color: white;
    background: rgb(202, 60, 60);
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.form-login-button {
    padding: 1em;
}

.dashboard-button {
    width: 100%;
}

/* Footer*/
.clear-footer-bar{
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.footer-bar {
    position: fixed;
    bottom: 5px;
    width: 100%;
    margin: 0;
    margin-bottom: -5px;
    padding: 15px;
    font-weight: bold;
    color: white;
    background-color: rgb(45, 51, 61);
}

.footer-right {
    float: right;
    font-size: 1.5em;
    margin-right: 20px;
    margin-top: 10px;
}

.footer-right:hover{
    color: rgb(232, 235, 239);
    font-size: 1.8em;
    cursor: pointer;
}

/* ----- PAGES ----- */

/* Landing page  */
.landing-page {
    margin-top: 2.5em;
}

.landing-box {
    background-color: white;
    border: 4px solid rgb(56, 98, 165);
    border-radius: 2%;
    padding: 1em;
    letter-spacing: 1.1;
    text-align: center;
}

.landing-box h1 {
    color: rgb(66, 184, 221);
}

.company-name {
    font-family: 'Mali', cursive;
    font-weight: 900;
}

.tagline {
    color: grey;
    font-style: italic;
    line-height: 1.5em;
}

.landing-box a {
    margin: 1em 0.5em;
    width: 45%;
    padding: 1em;
}

/* Login page */
.box-form {
    border: 4px solid rgb(56, 98, 165);
    border-radius: 2%;
    padding: 1.5em;
    margin-top: 1em;
}

.box-form legend {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1em;
}

.box-form form input {
    margin-bottom: 10px;
    width: 100%
}

.box-form a,button {
    width: 100%;
    padding: 1em;
    margin-top: 1em;
}


.highlight-block {
    background: rgb(202, 60, 60);
    margin: -0.5em 0 1em 0;
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
}

.highlight-success-block {
    background: rgb(69, 178, 66);
    margin: -0.5em 0 1em 0;
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
}

/* Dashboard */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-box {
    margin: 1.5em;
    padding: 1.5em;
    background-color: rgb(182, 198, 219);
    border-radius: 2%;
    color: white;
    font-weight: bold;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.project-box h3 {
    color: rgb(56, 98, 165);
}

.project-box a {
    width: 100%;
    padding: 8px;
    margin-top: 1em;
    font-size: 110%;
}

.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221);
}

/* Note page */
.note-box {
    max-width: 25%;
    margin: 1.5em;
    padding: 1.5em;
    background-color: rgb(244, 206, 66);
    border-radius: 2%;
    color: white;
    font-weight: bold;
    line-height: 1.5em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

}

.note-box h3 {
   color: rgb(56, 98, 165);
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
   font-size: 150%;
}

.note-button {
    width: 100%;
    font-size: 120%;
    margin-top: 0.5em;
    padding: 0.5em;
}

.back-link {
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    position: fixed;
    right: 30px;
    bottom: 90px;
}

.fa-arrow-right {
    margin-top: 1em;
}